<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- =====================================================
         INTERNET
         Firebase, version.json, GitHub, dan download APK
    ====================================================== -->

    <uses-permission
        android:name="android.permission.INTERNET" />


    <!-- =====================================================
         NOTIFIKASI
         Android 13+
    ====================================================== -->

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />


    <!-- =====================================================
         INSTALL APK
         Diperlukan untuk membuka installer update
    ====================================================== -->

    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <!-- =====================================================
         APLIKASI
    ====================================================== -->

    <application

        android:allowBackup="true"

        android:usesCleartextTraffic="false"

        android:theme="@style/Theme.CatatanKas"

        android:label="Catatan Kas"

        android:icon="@drawable/ic_launcher">


        <!-- =================================================
             FILE PROVIDER
             Untuk membuka APK hasil download
        ================================================== -->

        <provider

            android:name="androidx.core.content.FileProvider"

            android:authorities="${applicationId}.fileprovider"

            android:exported="false"

            android:grantUriPermissions="true">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/file_paths" />

        </provider>


        <!-- =================================================
             MAIN ACTIVITY
        ================================================== -->

        <activity

            android:name=".MainActivity"

            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
